
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.frame-3-Dwf {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-qiks-Ebs {
    width: 100%;
    height: 75.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-mvwv-htm {
      width: 134.5rem;
      height: 63.5rem;
      position: absolute;
      left: 1.1rem;
      top: 12.1rem;

      .frame-2-Zg5 {
        box-sizing: border-box;
        top: 7.85rem;
        display: flex;
        position: absolute;
        left: 73.5rem;
        align-items: center;
        flex-direction: column;
        background-color: #fffbfb;
        padding: 11.25rem 3.1rem 7.1rem 3.1rem;
        width: 54.1rem;
        height: 55.65rem;
        border-radius: 5.7rem;

        .input-nYq {
          margin-bottom: 1.5rem;
          width: 100%;
          height: 8.3rem;
          cursor: pointer;
          flex-shrink: 0;

          .input-75K {
            letter-spacing: 0.13rem;
            text-transform: capitalize;
            color: #625c5c;
            font-family: Spartan, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.0384615385;
            font-weight: 600;
            width: 100%;
            padding: 2.8rem 1.6rem 2.7rem 1.6rem;
            height: 100%;
            cursor: pointer;
            font-size: 2.6rem;
            border: solid 0.1rem #000000;
            border-radius: 1.6rem;
            box-sizing: border-box;
          }
        }
        .input-YyF {
          margin-bottom: 2.0602rem;
          box-sizing: border-box;
          padding: 2.57rem 1.6rem 2.47rem 1.6rem;
          font-size: 2.6rem;
          letter-spacing: 0.13rem;
          font-family: Spartan, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 600;
          white-space: nowrap;
          width: 100%;
          line-height: 1.0384615385;
          text-transform: capitalize;
          color: #625c5c;
          border-radius: 1.6rem;
        }
        .input-1M3 {
          padding: 1.575rem 1.6rem 1.475rem 1.6rem;
          cursor: pointer;
          line-height: 1.0384615385;
          letter-spacing: 0.13rem;
          white-space: nowrap;
          border-radius: 1.6rem;
          box-sizing: border-box;
          color: #625c5c;
          font-family: Spartan, 'Source Sans Pro';
          width: 100%;
          font-size: 2.6rem;
          text-transform: capitalize;
          margin-bottom: 2.65rem;
          font-weight: 600;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
        }
        .button-euo {
          margin: 0rem 9.4rem 0rem 5.5rem;
          width: calc(100% - 14.9rem);
          height: 9.1rem;
          cursor: pointer;
          flex-shrink: 0;

          .button-P6h {
            letter-spacing: 0.348rem;
            text-transform: capitalize;
            color: #000000;
            white-space: nowrap;
            background-color: #3164f4;
            cursor: pointer;
            font-family: Spartan, 'Source Sans Pro';
            display: flex;
            align-items: center;
            line-height: 0.9310344828;
            text-align: center;
            width: 100%;
            font-size: 2.9rem;
            font-weight: 600;
            justify-content: center;
            border-radius: 4.7rem;
            height: 100%;
          }
        }
      }
      .rectangle-2-dFw {
        left: 0;
        top: 0;
        background-color: #3164f4;
        border-radius: 1.9rem;
        width: 134.5rem;
        height: 7.6rem;
        position: absolute;
      }
      .home-WqX {
        width: 9.1rem;
        cursor: pointer;
        left: 9.15rem;
        align-items: center;
        font-weight: 700;
        letter-spacing: 0.252rem;
        white-space: nowrap;
        justify-content: center;
        font-size: 2.8rem;
        line-height: 1.2125;
        height: 3.4rem;
        position: absolute;
        top: 2.35rem;
        display: flex;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .company-yj7 {
        justify-content: center;
        letter-spacing: 0.252rem;
        top: 2.4rem;
        align-items: center;
        left: 23.95rem;
        line-height: 1.2125;
        color: #bac5f6;
        width: 14.9rem;
        height: 3.4rem;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.8rem;
        font-weight: 700;
        white-space: nowrap;
        position: absolute;
        display: flex;
      }
      .about-us-4Em {
        display: flex;
        color: #bac5f6;
        left: 43.55rem;
        font-weight: 700;
        letter-spacing: 0.252rem;
        font-family: Inter, 'Source Sans Pro';
        width: 14.4rem;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        line-height: 1.2125;
        height: 3.4rem;
        position: absolute;
        top: 2.7rem;
        white-space: nowrap;
      }
      .projects-Mjf {
        top: 2.8rem;
        display: flex;
        white-space: nowrap;
        left: 65.15rem;
        justify-content: center;
        font-weight: 700;
        letter-spacing: 0.252rem;
        width: 13.4rem;
        position: absolute;
        align-items: center;
        font-size: 2.8rem;
        height: 3.4rem;
        line-height: 1.2125;
        color: #bac5f6;
        font-family: Inter, 'Source Sans Pro';
      }
      .secure-it-services-fEZ {
        width: 16.1rem;
        position: absolute;
        top: 14.7rem;
        text-align: right;
        color: #000000;
        white-space: nowrap;
        height: 2.2rem;
        left: 16.1rem;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Spartan, 'Source Sans Pro';
      }
      .excellent-it-services-for-your-success-Lbb {
        line-height: 1.5555555556;
        letter-spacing: 0.216rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 59.2rem;
        height: 16.8rem;
        position: absolute;
        top: 18.7rem;
        font-size: 5.4rem;
        left: 8.3rem;
        font-weight: 600;
        color: #000000;

        .excellent-it-services-for-your-success-Lbb-sub-0 {
        }
        .excellent-it-services-for-your-success-Lbb-sub-1 {
          font-size: 5.4rem;
          font-weight: 600;
          line-height: 1.5555555556;
          letter-spacing: 0.216rem;
          text-decoration-line: line-through;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .frame-4-t9F {
        height: 11.1rem;
        position: absolute;
        left: 8.3rem;
        top: 37.7rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:1:254');
        box-sizing: border-box;
        padding: 2.7rem 3.76rem 4.4rem 3.8rem;
        width: 11.8rem;
        background-size: cover;

        .icon-right-arrow-aXs {
          vertical-align: top;
          width: 4.24rem;
          height: 4rem;
          object-fit: contain;
        }
      }
      .group-1-sms {
        width: 22.4rem;
        height: 8.4rem;
        position: absolute;
        left: 27.4rem;
        top: 38.3rem;
        border-radius: 2.5rem;

        .rectangle-3-Zeh {
          height: 5.3rem;
          border: solid 0.3rem #000000;
          box-sizing: border-box;
          width: 22.4rem;
          position: absolute;
          left: 0;
          top: 1.6rem;
          background-color: #d9d9d9;
          border-radius: 2.5rem;
        }
        .see-how-it-works-eAM {
          left: 1.9rem;
          line-height: 4;
          color: #000000;
          white-space: nowrap;
          width: 19.2rem;
          position: absolute;
          top: 0;
          font-size: 2.1rem;
          font-weight: 700;
          letter-spacing: 0.084rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 8.4rem;
        }
      }
      .book-appointment-wfF {
        top: 10.1rem;
        font-size: 2.8rem;
        line-height: 0.9642857143;
        text-transform: uppercase;
        color: #000000;
        font-family: Abril Fatface, 'Source Sans Pro';
        height: 2.7rem;
        position: absolute;
        white-space: nowrap;
        font-weight: 400;
        letter-spacing: 0.14rem;
        width: 31rem;
        left: 84.1rem;
      }
      .its-out-pleasure-to-have-a-chance-to-complete-d2H {
        top: 14.4rem;
        color: #000000;
        font-family: Abril Fatface, 'Source Sans Pro';
        font-weight: 400;
        line-height: 2.0769230769;
        letter-spacing: 0.065rem;
        width: 36.7rem;
        height: 2.8rem;
        position: absolute;
        left: 80.8rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .line-1-hXw {
      position: absolute;
      left: 3.4993rem;
      top: 2.8241rem;
      object-fit: contain;
      vertical-align: top;
      width: 130.801rem;
      height: 0;
    }
    .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-2q7 {
      letter-spacing: 0.108rem;
      width: 69.1rem;
      top: 0;
      align-items: baseline;
      color: #000000;
      position: absolute;
      display: flex;
      font-weight: 400;
      height: 2.5rem;
      left: 32.45rem;
      justify-content: center;
      font-size: 1.2rem;
      line-height: 1.2102272511;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;

      .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-2q7-sub-0 {
        line-height: 1.2125;
        letter-spacing: 0.18rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-2q7-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: 0.18rem;
        color: #3164f4;
      }
      .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-2q7-sub-2 {
        line-height: 1.2125;
        letter-spacing: 0.108rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
      }
      .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-2q7-sub-3 {
        letter-spacing: 0.144rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-yyd7-eG9 {
      display: flex;
      align-items: center;
      width: 126rem;
      height: 8.1rem;
      position: absolute;
      left: 7.8rem;
      top: 3.6rem;

      .image-1-iG1 {
        flex-shrink: 0;
        margin-right: 1.05rem;
        width: 9.5rem;
        height: 8.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .nexilo-tech-e9f {
        flex-shrink: 0;
        display: flex;
        font-size: 2.8rem;
        letter-spacing: 0.252rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
      }
      .auto-group-z1ku-ZGd {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.398rem 0rem 0.398rem 3.85rem;
        height: 100%;
        display: flex;

        .image-2-sHK {
          margin: 0rem 2.2rem 0.5rem 0rem;
          width: 16rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .line-2-CKb {
          flex-shrink: 0;
          margin: 0rem 2.6rem 0.8rem 0rem;
          width: 0;
          height: 6.503rem;
          object-fit: contain;
          vertical-align: top;
        }
        .image-3-j4d {
          background-image: url('REPLACE_IMAGE:98879d492e19792f4cd275300642d483035fd782');
          flex-shrink: 0;
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 18.3rem;
          height: 5.2rem;
          position: relative;
          background-size: 131.5% 108.766%;
          background-position: 0 -0.2279rem;
        }
        .line-3-bcd {
          height: 6.303rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.2rem 0.997rem 0rem;
          width: 0;
        }
        .image-4-Vi1 {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.2rem 0.1rem 0rem;
          width: 21.1rem;
        }
        .icon-linkedin-square-NG1 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.9rem 0.9rem 0rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }
        .icon-twitter-fku {
          height: 3.2489rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.5rem 0.251rem 0rem;
          width: 4rem;
        }
        .icon-facebook-circle-ass {
          height: 3.976rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.924rem 0rem;
          width: 4rem;
        }
        .icon-instagram-777 {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.8938rem;
          width: 4rem;
          height: 4.0062rem;
          position: relative;
          object-fit: contain;
        }
      }
    }
    .group-2-RtV {
      width: 23.9rem;
      height: 5.9rem;
      position: absolute;
      left: 80.9rem;
      top: 13.2rem;

      .rectangle-6-Zjo {
        top: 0;
        background-color: #3164f4;
        width: 19.9019rem;
        height: 5.9rem;
        position: absolute;
        left: 1.9546rem;
      }
      .contact-6jj {
        width: 12.8rem;
        justify-content: center;
        left: 5.55rem;
        top: 1.25rem;
        letter-spacing: 0.252rem;
        height: 3.4rem;
        font-weight: 700;
        line-height: 1.2125;
        font-size: 2.8rem;
        color: #bac5f6;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        display: flex;
        align-items: center;
      }
      .frame-1-8gR {
        border-radius: 1.4rem 6.5rem 5.8rem 1.4rem;
        box-sizing: border-box;
        width: 9.3rem;
        height: 7.6397rem;
        cursor: pointer;
        position: absolute;
        top: -1.8833rem;
        padding: 2rem 0rem 0rem 2rem;
        left: 20.6rem;
        overflow: hidden;

        .frame-RQd {
          padding: 1.05rem 1.5rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0f34a0;
          background-color: #0f34a0;
          box-sizing: border-box;
          border-radius: 3rem;
          height: 6.1rem;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1599999964);
          width: 27.8rem;

          .icon-search-alt-2-MJH {
            flex-shrink: 0;
            margin-right: 15.8996rem;
            width: 4.0004rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .search-HBw {
            margin-top: 0.3rem;
            text-align: right;
            line-height: 1.2575;
            font-size: 1.7rem;
            font-weight: 400;
            color: #fffdfd;
            font-family: Spartan, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .rectangle-1-uz1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 102.466rem 0rem 16.49rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ededed;

    .auto-group-y2z5-qsf {
      width: 100%;
      height: 76.8342rem;
      position: relative;
      border-top: solid 0.1rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-bottom: 16.8178rem;

      .rectangle-5-Y1P {
        background-color: #ededed;
        width: 136.6rem;
        height: 76.8rem;
        position: absolute;
        left: 0;
        top: 0.0342rem;
      }
      .line-1-Rqs {
        height: 0;
        position: absolute;
        left: 5.7137rem;
        top: 3.9933rem;
        object-fit: contain;
        vertical-align: top;
        width: 125.172rem;
      }
      .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-MDj {
        color: #000000;
        display: flex;
        align-items: baseline;
        font-size: 1.2rem;
        letter-spacing: 0.108rem;
        font-family: Inter, 'Source Sans Pro';
        width: 69.1rem;
        left: 38.2948rem;
        justify-content: center;
        position: absolute;
        font-weight: 400;
        white-space: nowrap;
        height: 2.5rem;
        top: 1.0724rem;
        line-height: 1.2102272511;

        .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-MDj-sub-0 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: 0.18rem;
          color: #000000;
        }
        .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-MDj-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: 0.18rem;
          color: #3164f4;
          font-family: Inter, 'Source Sans Pro';
        }
        .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-MDj-sub-2 {
          letter-spacing: 0.108rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .now-hiring-are-you-a-driven-and-motivated-1st-line-it-support-engineer-MDj-sub-3 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: 0.144rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .image-1-1Dj {
        position: absolute;
        left: 11.5008rem;
        top: 5.5132rem;
        object-fit: cover;
        vertical-align: top;
        width: 8.6169rem;
        height: 7.4606rem;
      }
      .nexilo-tech-Jid {
        white-space: nowrap;
        width: 20.4rem;
        top: 6.7382rem;
        line-height: 1.2125;
        letter-spacing: 0.252rem;
        font-family: Inter, 'Source Sans Pro';
        height: 3.4rem;
        justify-content: center;
        position: absolute;
        display: flex;
        font-size: 2.8rem;
        font-weight: 700;
        color: #000000;
        left: 20.3218rem;
        align-items: center;
      }
      .image-2-BXX {
        top: 6.0342rem;
        object-fit: cover;
        vertical-align: top;
        width: 14.5126rem;
        height: 4.6053rem;
        position: absolute;
        left: 44.4rem;
      }
      .line-2-6uP {
        top: 5.5803rem;
        object-fit: contain;
        vertical-align: top;
        width: 0;
        height: 6.45rem;
        position: absolute;
        left: 61.6786rem;
      }
      .image-3-3Jq {
        position: relative;
        left: 63.2rem;
        top: 5.8342rem;
        background-size: 131.5% 108.766%;
        background-position: 0 -0.2422rem;
        background-image: url('REPLACE_IMAGE:98879d492e19792f4cd275300642d483035fd782');
        width: 20.1363rem;
        height: 5.5264rem;
      }
      .line-3-vNd {
        object-fit: contain;
        vertical-align: top;
        width: 0;
        height: 6.45rem;
        position: absolute;
        left: 83.6289rem;
        top: 5.1816rem;
      }
      .image-4-E8R {
        left: 85.4rem;
        top: 5.6342rem;
        object-fit: cover;
        vertical-align: top;
        width: 26.5762rem;
        height: 5.5264rem;
        position: absolute;
      }
      .icon-linkedin-square-x4R {
        object-fit: contain;
        vertical-align: top;
        width: 3.6282rem;
        height: 4.9644rem;
        position: absolute;
        left: 111.6rem;
        top: 6.1342rem;
      }
      .icon-instagram-UYZ {
        vertical-align: top;
        width: 3.6282rem;
        height: 4.9721rem;
        position: absolute;
        left: 126.9rem;
        top: 6.5342rem;
        object-fit: contain;
      }
      .icon-twitter-CzM {
        height: 4.0322rem;
        position: absolute;
        left: 116.9rem;
        top: 6.5342rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.6282rem;
      }
      .icon-facebook-circle-wS9 {
        top: 6.3342rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.6282rem;
        height: 4.9346rem;
        position: absolute;
        left: 121.5rem;
      }
      .rectangle-2-UBB {
        border-radius: 1.9rem;
        width: 128.4367rem;
        height: 7rem;
        position: absolute;
        left: 5.7rem;
        top: 15.0342rem;
        background-color: #3164f4;
      }
      .serach-bar-zvD {
        top: 13.6342rem;
        width: 9.3rem;
        height: 10.1rem;
        cursor: pointer;
        position: absolute;
        left: 102.6854rem;

        .frame-1-LDP {
          width: 100%;
          height: 100%;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          border-radius: 1.4rem 6.5rem 5.8rem 1.4rem;
          box-sizing: border-box;
          padding: 2rem 0rem 2rem 2rem;

          .frame-rSd {
            box-sizing: border-box;
            width: 27.8rem;
            position: relative;
            display: flex;
            align-items: center;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1599999964);
            background-color: #0f34a0;
            padding: 1.05rem 1.5rem;
            height: 100%;
            overflow: hidden;
            border: solid 0.1rem #0f34a0;
            border-radius: 3rem;

            .icon-search-alt-2-jmK {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 15.8996rem;
              width: 4.0004rem;
              height: 4rem;
              object-fit: contain;
            }
            .search-TBX {
              font-size: 1.7rem;
              font-weight: 400;
              font-family: Spartan, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              line-height: 1.2575;
              color: #fffdfd;
              text-align: right;
            }
          }
        }
      }
      .home-rjT {
        height: 3.4rem;
        justify-content: center;
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.252rem;
        top: 17.1752rem;
        line-height: 1.2125;
        width: 9.1rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        left: 13.8629rem;
        display: flex;
        align-items: center;
        color: #bac5f6;
        white-space: nowrap;
      }
      .company-wF7 {
        white-space: nowrap;
        position: absolute;
        font-size: 2.8rem;
        letter-spacing: 0.252rem;
        font-family: Inter, 'Source Sans Pro';
        top: 16.8212rem;
        justify-content: center;
        line-height: 1.2125;
        align-items: center;
        color: #bac5f6;
        display: flex;
        font-weight: 700;
        width: 14.9rem;
        height: 3.4rem;
        left: 27.6977rem;
      }
      .about-us-pph {
        height: 3.4rem;
        position: absolute;
        display: flex;
        font-size: 2.8rem;
        letter-spacing: 0.252rem;
        left: 47.9933rem;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        width: 14.4rem;
        top: 17.4133rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #bac5f6;
        font-family: Inter, 'Source Sans Pro';
      }
      .projects-JE5 {
        left: 69.0831rem;
        align-items: center;
        letter-spacing: 0.252rem;
        color: #bac5f6;
        height: 3.4rem;
        position: absolute;
        display: flex;
        justify-content: center;
        font-weight: 700;
        top: 17.2054rem;
        font-size: 2.8rem;
        font-family: Inter, 'Source Sans Pro';
        width: 13.4rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .contact-An5 {
        height: 3.4rem;
        position: absolute;
        top: 17.1212rem;
        display: flex;
        align-items: center;
        letter-spacing: 0.252rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 12.8rem;
        justify-content: center;
        font-size: 2.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        cursor: pointer;
        left: 88.1588rem;
        font-weight: 700;
      }
      .contact-us-UGy {
        width: 20.1rem;
        top: 24.3107rem;
        letter-spacing: 0.15rem;
        font-family: Abril Fatface, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        height: 2.7rem;
        position: absolute;
        left: 53.1525rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 0.9;
        text-transform: uppercase;
      }
      .explore-the-future-with-us-feel-free-to-get-in-touch-ZpD {
        color: #000000;
        width: 42.3rem;
        position: absolute;
        line-height: 2.0769230769;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: 0.065rem;
        text-transform: uppercase;
        font-family: Abril Fatface, 'Source Sans Pro';
        height: 2.8rem;
        left: 46.3359rem;
        top: 28.4468rem;
        white-space: nowrap;
      }
      .image-5-qmj {
        position: absolute;
        left: 5.9983rem;
        top: 27.0834rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 21.7rem;
        width: 44.5356rem;
        height: 47.5267rem;
      }
      .input-Ap1 {
        letter-spacing: 0.13rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        position: absolute;
        top: 34.3342rem;
        font-weight: 600;
        line-height: 1.0384615385;
        width: 43.4rem;
        height: 5.9rem;
        text-transform: capitalize;
        font-family: Spartan, 'Source Sans Pro';
        color: #625c5c;
        border-radius: 1.6rem;
        padding: 1.6rem 1.6rem 1.5rem 1.6rem;
        cursor: pointer;
        left: 69.3rem;
        font-size: 2.6rem;
        white-space: nowrap;
      }
      .input-xUy {
        border-radius: 1.6rem;
        box-sizing: border-box;
        top: 42.0342rem;
        font-weight: 600;
        white-space: nowrap;
        position: absolute;
        color: #625c5c;
        cursor: pointer;
        left: 69.3rem;
        font-size: 2.6rem;
        letter-spacing: 0.13rem;
        text-transform: capitalize;
        font-family: Spartan, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        padding: 1.1rem 1.6rem 1rem 1.6rem;
        width: 43.4rem;
        height: 4.9rem;
        line-height: 1.0384615385;
      }
      .input-zAm {
        font-weight: 600;
        text-transform: capitalize;
        left: 69.3rem;
        letter-spacing: 0.13rem;
        border: solid 0.1rem #000000;
        color: #625c5c;
        font-family: Spartan, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        height: 8.1306rem;
        cursor: pointer;
        line-height: 1.0384615385;
        font-size: 2.6rem;
        border-radius: 1.6rem;
        padding: 2.715rem 1.6rem 2.615rem 1.6rem;
        width: 43.4471rem;
        position: absolute;
        top: 49.4342rem;
      }
      .button-chw {
        cursor: pointer;
        left: 77.7rem;
        font-size: 2.9rem;
        text-transform: capitalize;
        align-items: center;
        line-height: 0.9310344828;
        height: 6.5rem;
        position: absolute;
        top: 60.0342rem;
        letter-spacing: 0.348rem;
        font-family: Spartan, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        background-color: #3164f4;
        border-radius: 4.7rem;
        width: 25rem;
        text-align: center;
        font-weight: 600;
        color: #000000;
      }
    }
    .auto-group-xenv-3oF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 15.319rem 0rem 20.976rem;
      width: calc(100% - 36.2955rem);
      height: 14.5921rem;

      .auto-group-gms7-LGZ {
        height: calc(100% - 6.4631rem);
        flex-shrink: 0;
        margin: 2.833rem 11.025rem 3.63rem 0rem;
        width: 19.3268rem;

        .nexilo-tech-QnD {
          color: #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.8rem;
          line-height: 1.2125;
          letter-spacing: 0.252rem;
          margin-bottom: 0.529rem;
          width: 100%;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .nexilo-tech-all-rights-reserved-WqF {
          font-weight: 700;
          line-height: 1.2125;
          letter-spacing: 0.153rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          justify-content: center;
          font-size: 1.7rem;
          max-width: 19.2rem;
          display: flex;
          align-items: center;
        }
      }
      .home-pricing-about-us-contact-cNV {
        max-width: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        letter-spacing: 0.153rem;
        flex-shrink: 0;
        margin: 0rem 19.435rem 0.092rem 0rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .facebook-instagram-twitter-linked-in-VhB {
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;
        font-size: 1.7rem;
        max-width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2125;
        letter-spacing: 0.153rem;
        font-family: Inter, 'Source Sans Pro';
        margin: 0.092rem 14.718rem 0rem 0rem;
      }
      .privacy-policy-terms-of-service-nAV {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.0921rem;
        max-width: 16.8rem;
        justify-content: center;
        font-size: 1.7rem;
        line-height: 1.2125;
        letter-spacing: 0.153rem;
      }
    }
  }
}
